configuration:
  uploaderType: restic
  backupStorageLocation:
  - bucket: velero
    name: velero
    provider: aws
    prefix: backups
    default: true
    config:
      region: "${minio_region}"
      s3ForcePathStyle: true
      s3Url: "http://${velero_svc_host}:${velero_svc_port}"
  volumeSnapshotLocation: []

snapshotsEnabled: false

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:${plugin_version}
  volumeMounts:
  - mountPath: /target
    name: plugins

metrics:
  enabled: true
  scrapeInterval: 30s
  scrapeTimeout: 10s
  serviceMonitor:
    enabled: true
    autodetect: false
    namaspace: velero
    additionalLabels:
      Release: kube-prometheus-stack

credentials:
  useSecret: true
  existingSecret: velero-credentials
